@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  height: auto;
}

button,
label[for="photo-input"] {
  min-height: 44px;
  min-width: 44px;
}

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  font-size: 16px !important;
}